<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SilverDoor.Orbirelo.testcases.ServiceRequestPageTest"/>
      <class name="SilverDoor.Orbirelo.testcases.BookingPageTest"/>
      <class name="SilverDoor.Orbirelo.testcases.MyProfilePageTest"/>
      <class name="SilverDoor.Orbirelo.testcases.ReservationsPageTest"/>
      <class name="SilverDoor.Orbirelo.testcases.ShortListPageTest"/>
      <class name="SilverDoor.Orbirelo.testcases.LoginPageTest"/>
      <class name="SilverDoor.Orbirelo.testcases.EnquiryPageTest"/>
      <class name="SilverDoor.Orbirelo.testcases.RebookApartmentPageTest"/>
      <class name="SilverDoor.Orbirelo.testcases.ProposalTest"/>
      <class name="SilverDoor.Orbirelo.testcases.EnquiryAndQuotesPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
